<div class="sidebar">
  <app-logo></app-logo>
  <ul class="nav-list">
    <app-nav-item icon="bx-search" label="Search" type="search"></app-nav-item>
    <app-nav-item icon="bx-grid-alt" label="Dashboard"></app-nav-item>
    <app-nav-item icon="bx-user" label="User"></app-nav-item>
    <app-nav-item icon="bx-chat" label="Messages"></app-nav-item>
    <app-nav-item icon="bx-pie-chart-alt-2" label="Analytics"></app-nav-item>
    <app-nav-item icon="bx-folder" label="File Manager"></app-nav-item>
    <app-nav-item icon="bx-cart-alt" label="Order"></app-nav-item>
    <app-nav-item icon="bx-heart" label="Saved"></app-nav-item>
    <app-nav-item icon="bx-cog" label="Setting"></app-nav-item>
    <li class="profile">
      <app-profile></app-profile>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="text">Dashboard</div>
</section>
