@import '../utilities/variables';

/* Icons */
.sidebar i {
    color: $text-color;
    height: 60px;
    min-width: 50px;
    font-size: $font-size-icon;
    text-align: center;
    line-height: 60px;
  }
  
  .sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }