@import '../utilities/variables';

/* Logo */
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon,
.sidebar .logo-details .logo_name {
  opacity: 0;
  transition: $transition-ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details .logo_name {
  color: $text-color;
  font-size: $font-size-logo;
  font-weight: $font-weight-logo;
}
