@import '../utilities/variables';

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $sidebar-width;
  background: $background-color;
  padding: 6px 14px;
  z-index: $sidebar-z-index;
  transition: $transition-ease;
}

.sidebar.open {
  width: $sidebar-open-width;
}
