<div>
  <h1>Sign Up for Free</h1>
  <form 
    [formGroup]="signupForm"
    (ngSubmit)="signup()">
    <div class="top-row">
      <div class="field-wrap">
        <label>First Name<span class="req">*</span></label>
        <input type="text" formControlName="firstName" required autocomplete="off" />
      </div>
      <div class="field-wrap">
        <label>Last Name<span class="req">*</span></label>
        <input type="text" formControlName="lastName" required autocomplete="off" />
      </div>
    </div>
    <div class="field-wrap">
      <label>Email Address<span class="req">*</span></label>
      <input type="email" formControlName="username" required autocomplete="off" />
    </div>
    <div class="field-wrap">
      <label>Password<span class="req">*</span></label>
      <input type="password" formControlName="password" required autocomplete="off" />
    </div>
    <button type="submit" 
      class="button button-block">Get Started
    </button>
  </form>
</div>
