/*
@import '../utilities/_variables.scss';

#error-message {
  color: $error-color;
  font-size: 1.2rem;
  margin-bottom: 16px;
  text-align: center;
}

@media (max-width: 420px) {
  #error-message {
    font-size: 1rem;
  }
}
  */
