@import '../variables';

form {
  max-width: 600px; // Maximum width for the form
  margin: 0 auto; // Center-align the form
}

h1 {
  text-align: center;
  color: $white;
  font-weight: $thin;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba($white, .5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  font-size: 18px; // Adjusted font size

  .req {
    margin: 2px;
    color: $main;
  }
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;

  .req {
    opacity: 0;
  }
}

label.highlight {
  color: $white;
}

input, textarea {
  font-size: 18px; // Adjusted font size
  display: block;
  width: calc(100% - 20px); // Decreased width to align with the button
  height: 100%;
  padding: 10px 10px; // Adjusted padding
  background: none;
  background-image: none;
  border: 1px solid $gray-light;
  color: $white;
  border-radius: 4px; // Adjusted border-radius
  transition: border-color 0.25s ease, box-shadow 0.25s ease;

  &:focus {
    outline: 0;
    border-color: $main;
  }
}

textarea {
  border: 1px solid $gray-light; // Adjusted border
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 20px; // Adjusted margin
}

.button {
  border: 0;
  outline: none;
  border-radius: 4px; // Adjusted border-radius
  padding: 15px 0;
  font-size: 1.5rem; // Adjusted font size
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: $main;
  color: $white;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  appearance: none;

  &:hover, &:focus {
    background: $main-dark;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: 10px; // Adjusted margin to create space from the password input box
  text-align: right;
  color: $white; // Ensures the text color matches the rest of the content
  font-size: 14px; // Adjusted font size
}