<div id="login">
    <h1>Welcome Back!</h1>
    <form>
      <div class="field-wrap">
        <label for="username">Username: <span class="req">*</span></label>
        <input type="email" id="username" name="username" required autocomplete="off"/>
      </div>
      <div class="field-wrap">
        <label for="pwd">Password: <span class="req">*</span></label>
        <input type="password" id="pwd" name="pwd" required autocomplete="off"/>
      </div>
      <p class="forgot"><a href="#">Forgot Password?</a></p>
      <button class="button button-block">Log In</button>
    </form>
</div>
  