@import '../../../../saas/form-saas/utilities/common';

.forgot {
  margin-top: 10px; // Adjusted margin to create space from the password input box
  text-align: right;
  color: $white; // Ensures the text color matches the rest of the content
  font-size: 14px; // Adjusted font size
}
