
@import './utilities/variables';

app-list {
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px
    rgba(0, 0, 0, 0.1);
  padding: $padding;
  margin-bottom: $padding;
}

