$body-bg: #c1bdba;
$form-bg: #13232f;

$br: 4px;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: $body-bg;
  font-family: 'Titillium Web', sans-serif;
}

.form {
  background: rgba($form-bg, .9);
  padding: 20px;
  max-width: 100%;
  margin: 20px auto;
  border-radius: $br;
  box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
  display: grid;
  grid-gap: 20px;
}
