@import '../../../saas/form-saas/utilities/variables';

.logo-name {
  text-align: center;
  height: 10%;
}

#taskerr-logo {
  font-size: 4em;
  margin-right: 0.1em;
}

#taskerr-brand {
  font-size: 2em;
}

.form {
  background: rgba($form-bg, .9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: $br;
  box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
}

.login-signup-page {
  background: $body-bg;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 0.03em;
  height: 100%;
}

.main-container {
  height: 90%;
}
