<div class="navbar-container">
    <nav class="logo">
      <a href="#"><span id="taskerr-logo">&#8510;</span>
      <span id="takserr-brand">Taskerr</span></a>
    </nav>
    <nav class="other-nav-content">
      <a class="nav-links">About</a>
      <a class="nav-links" id="second-nav-link">Contact</a>
      <a *ngIf="!this.userservice.isLoggedIn
      && this.userservice.isHome" href="/login_signup">Login</a>
      <a *ngIf="this.userservice.isLoggedIn 
      && !this.userservice.isHome" (click)="onLogout()" class="logout-button">Logout</a>
    </nav>
</div>
  
