.navbar-container {
    display: flex;
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
  
    nav {
      display: flex;
      justify-content: center;
      background-color: var(--navbar-bg);
      color: var(--navbar-text);
  
      a {
        text-decoration: none;
        color: var(--navbar-text);
        padding: 8px 12px;
        transition: all 0.3s ease;
        box-sizing: border-box;
        cursor: pointer;
  
        &:hover {
          background-color: var(--navbar-bg-hover);
        }
      }
    }
  }
  
  .logo span {
    &#taskerr-logo {
      font-size: 3em;
      color: #c1bdba;
    }
  
    &#taskerr-brand {
      margin-left: 0.3em;
      font-size: 1.3em;
      color: #c1bdba;
    }
  }
  
  .other-nav-content {
    a {
      margin-top: 0.7em;
    }
  
    #second-nav-link {
      margin-right: 20px;
    }
  }
  
  .nav-links {
    cursor: pointer;
  }
  