<div class="navbar-container">
    <nav class="logo">
      <a href="/"><span id="taskerr-logo">&#8510;</span>
      <span id="takserr-brand">Taskerr</span></a>
    </nav>
    <nav class="other-nav-content">
      <a class="nav-links">About</a>
      <a class="nav-links" id="second-nav-link">Contact</a>
      <a *ngIf="!userService.session" href="/login_signup">Login</a>
      <!-- Display Logout link if user is logged in and is not on home page -->
      <a *ngIf="userService.session" (click)="onLogout()" class="logout-button">Logout</a>
    </nav>
</div>
  
