<div class="navbar-container">
  <nav class="logo">
    <a href="/"><span id="taskerr-logo">&#8510;</span>
    <span id="takserr-brand">Taskerr</span></a>
  </nav>
  <nav class="other-nav-content">
    <a class="nav-links">About</a>
    <a class="nav-links" id="second-nav-link">Contact</a>
    <ng-container *ngIf="this.userService.isLoggedIn && !this.userService.isHome; else logoutButton">
      <a href="/login_signup">Login</a>
    </ng-container>
    <ng-template #logoutButton>
      <a (click)="onLogout()" class="logout-button">Logout</a>
    </ng-template>
  </nav>
</div>