<div>
    <h1>Reset your password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="field-wrap">
        <input type="email" formControlName="username" required autocomplete="off" placeholder="Email Address">
        <div *ngIf="resetPasswordForm.get('username')?.touched" class="error">
          <p *ngIf="resetPasswordForm.get('username')?.errors?.['required']">
            Username can't be blank
          </p>
          <p *ngIf="resetPasswordForm.get('username')?.errors?.['email']">
            Please enter a valid email address
          </p>
        </div>
      </div>
      <div class="field-wrap">
        <input type="password" formControlName="old_pwd" required autocomplete="off" placeholder="Old password" />
        <div *ngIf="resetPasswordForm.get('old_pwd')?.touched" class="error">
          <p *ngIf="resetPasswordForm.get('old_pwd')?.errors?.['required']">
            Password can't be blank
          </p>
          <p *ngIf="resetPasswordForm.get('old_pwd')?.errors?.['minlength']">
            Password must be at least 8 characters long
          </p>
        </div>
      </div>
      <div class="field-wrap">
        <input type="password" formControlName="new_pwd" required autocomplete="off" placeholder="New password" />
        <div *ngIf="resetPasswordForm.get('new_pwd')?.touched" class="error">
          <p *ngIf="resetPasswordForm.get('new_pwd')?.errors?.['required']">
            Password can't be blank
          </p>
          <p *ngIf="resetPasswordForm.get('new_pwd')?.errors?.['minlength']">
            Password must be at least 8 characters long
          </p>
        </div>
      </div>
      <div class="field-wrap">
        <input type="password" formControlName="new_pwd_match" required autocomplete="off" placeholder="Confirm password" />
        <div *ngIf="resetPasswordForm.get('new_pwd_match')?.touched" class="error">
          <p *ngIf="resetPasswordForm.get('new_pwd_match')?.errors?.['required']">
            Password can't be blank
          </p>
          <p *ngIf="resetPasswordForm.get('new_pwd_match')?.errors?.['minlength']">
            Password must be at least 8 characters long
          </p>
        </div>
      </div>
      <button type="submit" class="button button-block">Get Started</button>
    </form>
  </div>
  