.work-area {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  
  app-side-navigation {
    flex: 0 0 250px;
    background-color: #2f3542;
    height: 100vh;
    overflow-y: auto;
  }

  app-workspace {
    flex: 1;
    padding: 20px;
    background-color: #f1f2f6;
    overflow-y: auto;
  }

  .settings-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;

    h3 {
      margin-bottom: 15px;
    }

    .color-options {
      display: flex;
      gap: 10px;
      margin-bottom: 20px; /* Added space between color options and the next container */

      .color-btn {
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
      }
    }

    .theme-toggle-container {
      margin-top: 20px; /* Adjust this value to control the space between containers */
    }

    .close-btn {
      margin-top: 15px;
      padding: 5px 10px;
      background-color: #2f3542;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .user-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
    width: 400px; // Set the width of the user modal here
    max-width: 90%; // Ensure it doesn't overflow on smaller screens

    a {
      display: block;
      margin-bottom: 15px;
      padding: 10px;
      color: #2f3542;
      text-decoration: none;
      border: 1px solid #2f3542;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #2f3542;
        color: white;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .html-symbol {
        font-size: 1.2em;      // Adjust the size of the symbols
        vertical-align: middle; // Ensure symbols are aligned with text
        margin-left: 5px;       // Add some spacing between the text and the symbol

        #last-option {
          cursor: pointer;
        }
      }
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;

    app-side-navigation {
      background-color: #2f3542;
      height: auto;
      position: sticky;
      top: 0;
    }

    app-workspace {
      padding: 16px;
      background-color: #f1f2f6;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    app-side-navigation {
      flex: 0 0 auto;
      width: 100%;
      height: auto;
    }

    app-workspace {
      width: 100%;
      height: auto;
    }

    .settings-modal, .user-modal {
      width: 90%; // Allows user-modal to be responsive as well
      left: 50%;
      transform: translateX(-50%);
    }
  }
}