<!-- src/app/work-area/work-area.component.html -->
<div class="work-area">
  <app-side-navigation (settingsClick)="openSettingsModal()"></app-side-navigation>
  <app-workspace #workspace></app-workspace>
  <div class="settings-modal" *ngIf="isSettingsModalOpen">
    <h3>Change Workspace Background</h3>
    <div class="color-options">
      <button class="color-btn" *ngFor="let color of colors" [style.background]="color" (click)="changeBackgroundColor(color)"></button>
    </div>
    <h3>Toggle Theme</h3>
    <div class="theme-toggle">
      <label>
        <input type="radio" name="theme" value="light" (change)="changeTheme('light')" [checked]="currentTheme === 'light'">
        Light
      </label>
      <label>
        <input type="radio" name="theme" value="dark" (change)="changeTheme('dark')" [checked]="currentTheme === 'dark'">
        Dark
      </label>
    </div>
    <button class="close-btn" (click)="closeSettingsModal()">Close</button>
  </div>
  <div class="user-modal" *ngIf="isUserModalOpen">
    <a *ngIf="isUserModalOpen" href="/login_signup">Create a New Account &#9998;</a>
    <a *ngIf="isUserModalOpen" href="/reset_password">Reset Your Password &#10007;</a>
    <a *ngIf="isUserModalOpen" (click)="deleteAccount()">Delete Your Account &#9988;</a>  
  </div>
</div>
