@import '../../../../saas/form-saas/utilities/variables';

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex; // Use flexbox to ensure the tabs are side by side
  justify-content: space-between; // Distribute space between the tabs

  li {
    flex: 1; // Ensure each tab takes equal space
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba($gray-light, .25);
    color: $gray-light;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;

    &:hover {
      background: $main-dark;
      color: $white;
    }
  }

  .active a {
    background: $main;
    color: $white;
  }
}

