
<div class="container">
  <div class="list-container">
    <div *ngFor="let list of lists" class="list">
      <input [(ngModel)]="list.name" (keyup.enter)="updateListName(list)" />
      <button class="delete-list-button" (click)="deleteListItem(list.id)">x</button>

      <app-card *ngFor="let card of list.cards" [list]="list" [card]="card"></app-card>

      <button *ngIf="list.id" (click)="addCardToList(list.id!)">Add Card</button>
    </div>
  </div>

  <button class="add-list-button" *ngIf="lists.length < maxLists" (click)="addNewList('New List')">Add List</button>
</div>

