/*
@import '../../../../saas/common-saas/list/error-message';
@import '../../../../saas/common-saas/list/heading';
@import '../../../../saas/common-saas/list/layout';
@import '../../../../saas/common-saas/list/list';;
@import '../../../../saas/common-saas/list/media-queries';

button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 8px;
  padding: 8px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
*/
