/* You can add global styles to this file, and also import other style files */
@import './app/modules/auth/login-signup/login-signup-body';

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
