<footer>
    <div class="main-links">
        <div id="first-main-link">
            <p><span id="taskerr-logo">&#8510;</span>
                <span id="taskerr-brand">Taskerr</span></p>    
            <a id="login-link" href="/auth/login_signup">Log In</a>
        </div>
        <div class="other-main-links">
            <div id="second-main-link">
                <p>About Taskerr</p>
                <p class="main-link-description">What's behind Taskerr?</p>
            </div>
            <div id="third-main-link">
                <p>Jobs</p>
                <p class="main-link-description">Learn about open roles in the company</p>
            </div>
            <div id="fourth-main-link">
                <p>Apps</p>
                <p class="main-link-description">Download Taskerr for you mobile devices or computer</p>
            </div>
            <div id="fifth-main-link">
                <p>Contact us? </p>
                <p class="main-link-description">Need anything? We can help you</p>
            </div>
        </div>
    </div>
    <div class="other-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms</a>
        <a href="#">Copyright © {{ currentYear }} Taskerr</a>
    </div>
</footer>