footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: grid;
  gap: 20px;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .main-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3em;

    @media (min-width: 768px) {
      justify-content: center;
    }
  }

  .other-links {
    display: flex;
    justify-content: center;
    gap: 20px;

    a, i {
      margin-left: 0; // Reset margin as gap handles spacing
    }
  }

  #first-main-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; // Add some space between first-main-link and other-main-links

    p {
      margin-top: -0.2em;
    }

    #taskerr-logo {
      font-size: 2.4em;
      color:#c1bdba;
    }

    #taskerr-brand {
      margin-left: 0.3em;
      color:#c1bdba;
    }

    #login-link {
      margin-top: 1em;
    }
  }

  .other-main-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start; // Align items to the left

      p {
        margin: 0;
        text-align: left; // Ensure text is aligned to the left
      }

      .main-link-description {
        margin-top: 0.5em;
        width: 80%;
        text-align: left; // Ensure text is aligned to the left
      }
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, auto);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

