<footer>
    <div class="main-links">
        <a href="#" id="first-main-link">
            <p href="#"><span id="taskerr-logo">&#8510;</span>
                <span id="taskerr-brand">Taskerr</span></p>    
            <p href="#"><span id="login-link">Log In</span></p>
        </a>
        <a href="#" id="second-main-link">
            <p>About Taskerr</p>
            <p class="main-link-description">What's behind Taskerr?</p>
        </a>
        <a href="#">
            <p>Jobs</p>
            <p class="main-link-description">Learn about open roles in the company</p>
        </a>
        <a href="#">
            <p>Apps</p>
            <p class="main-link-description">Download Taskerr for you mobile devices or computer</p>
        </a>
        <a href="#">
            <p>Contact us? </p>
            <p class="main-link-description">Need anything? We can help you</p>
        </a>
    </div>
    <div class="other-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms</a>
        <a href="#">Copyright © {{ currentYear }} Taskerr</a>
        <i class="fa fa-facebook-official"></i>
    </div>
</footer>