/* Variables */
$font-family: "Poppins", sans-serif;
$background-color: #11101D;
$secondary-background-color: #1d1b31;
$text-color: #fff;
$text-color-dark: #11101D;
$transition-ease: all 0.5s ease;
$font-size-logo: 20px;
$font-weight-logo: 600;
$font-size-icon: 28px;
$font-size-search-icon: 22px;
$font-size-links: 15px;
$sidebar-width: 78px;
$sidebar-open-width: 250px;
$sidebar-z-index: 99;
$profile-height: 60px;
$tooltip-background: #fff;
$tooltip-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
$tooltip-font-size: 15px;
