
@import '../utilities/variables';

button {
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  color: $text-color;
  cursor: pointer;
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: $secondary-color;
}

.delete-button {
  background-color: $error-color;
  border: none;
  border-radius: 4px;
  color: $text-color;
  cursor: pointer;
  margin-top: 8px;
  padding: 8px;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: 16px;
  right: 16px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: $error-hover-color;
}
  
