
@import '../utilities/_variables.scss';

.card {
  background-color: $text-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
  box-shadow: $box-shadow;

  p {
    margin: 8px 0;
    font-size: 1rem;
  }

  input {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 4px;
    font-size: 1rem;
    width: 100%;
  }
}

