@media (max-width: 768px) {
  .card {
    padding: 12px;
    margin-bottom: 12px;

    p {
      font-size: 0.9rem;
    }

    input {
      font-size: 0.9rem;
    }

    button {
      padding: 6px;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 420px) {
  .card {
    padding: 8px;
    margin-bottom: 8px;

    p {
      font-size: 0.8rem;
    }

    input {
      font-size: 0.8rem;
    }

    button {
      padding: 4px;
      font-size: 0.8rem;
    }
  }
}